span.warn {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: -10px;
        width: 48px;
        height: 48px;
        float: left;
        display: block;
        background: url(http://findicons.com/icon/download/69037/alert/48/png) left top;
}